.banner {
  /* background-image: url('https://img.freepik.com/premium-photo/omni-channel-technology-online-retail-business_31965-3010.jpg?w=2000');
     */
  /* background-image: url('../../Images/bg1.jpg'); */
  height: 100vmin;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 13; */
  display: flex;

  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: rgb(0, 0, 0);
  background-color: rgb(128 171 206);
}

.banner > h1 {
  margin: 1rem auto;
  font: 600 5vw "Roboto";
  margin-bottom: 1rem;
}

.banner > p {
  font: 600 2.5vmax "Roboto";
  margin-bottom: 3rem;
}

.banner > a > button {
  margin-bottom: 5vmax;
  margin-top: 1vmax;
  cursor: pointer;
  background-color: white;
  border: 1px solid white;
  color: black;
  border-radius: 0;
  padding: 1vmax;
  transition: all 0.5s;
  width: 9vmax;
  font: 500 1vmax "Roboto";
  border-radius: 3px;
}
.banner > a > button:hover {
  background-color: rgba(74, 152, 225, 0.831);
  color: white;
}

.banner::after {
  content: "";
  width: 100vw;
  height: 100vmin;
  background-color: #ffffff;
  position: absolute;
  top: 0%;
  left: 0;
  clip-path: polygon(100% 76%, 0% 100%, 100% 100%);
  max-width: 100%;
}

.homeHeading {
  text-align: center;
  /* font-family: Roboto; */
  font-size: 1.4vmax;
  border-bottom: 1px solid rgba(21, 21, 21, 0.5);
  width: 20vmax;
  padding: 1vmax;
  margin: 5vmax auto;
  color: rgb(0, 0, 0, 0.7);
}

.container {
  display: flex;
  margin: 2vmax auto;
  width: 80vw;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}
