footer{
    margin-top: 15rem;
    padding: 2vmax;
    background-color: rgb(60 58 58);;
    display: flex;
    color: white;
    align-items: center;
    bottom: 0;
}



  .midFooter{
    width:100%;
    text-align: center;
  }

  .midFooter > h1 {
    font-size: 4vmax;
    font-family: "Roboto";
    color: #a9dfed;
  }
  .midFooter > p {
    max-width: 60%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    margin: 1vmax auto;
  }
  
  